
<tr>
  <td>
  <div class="mb-3 border border-primary border-3">
    <h4>Product: <%= product.name %></h4>
    <%= image_tag product.image.tiny %>
    <h5>Price: $<%= product.price %></h5>
    <h5>Description: <%= product.description %></h5>
    <h5>Quantity: <%= quantity %></h5>
  </div>
  </td>

</tr>